@import url("https://fonts.googleapis.com/css?family=Roboto:300,500&display=swap");
:root {
  --main-background: rgb(255, 255, 255);
  --text-color: rgb(81, 81, 81);
  /* --secondary-color: rgb(238, 238, 238); */
  --secondary-color: #747474;

  --accent-color: rgba(0, 0, 0, 0.12);
  --global-padding: 10px;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

/* html {
  line-height: 1.6;
  font-size: 16px;
  min-width: 320px;
} */

/* body {
  margin: 0;
  height: 100%;
  word-wrap: break-word;
  background-color: var(--main-background);
  color: var(--text-color);
} */

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
h1 {
  font-size: 32px;
  text-align: center;
}

/*CALCULATOR*/
.calculator {
  width: 100%;
  max-width: 350px;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0 10px 20px;
}
.calculator [data-control] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calculator__operations {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--global-padding);
  background-color: var(--secondary-color);
}
.calculator__operations input {
  width: calc(75% - var(--global-padding));
  height: 32px;
  line-height: 32px;
  border: 0;
  font-size: 120%;
  background-color: transparent;
  outline: none;
  text-align: right;
  padding: 0 10px;
  border-bottom: var(--accent-color) 1px solid;
}
.calculator__backspace {
  width: calc(25% - var(--global-padding));
  height: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612 612"><path d="M561,76.5H178.5c-17.85,0-30.6,7.65-40.8,22.95L0,306l137.7,206.55c10.2,12.75,22.95,22.95,40.8,22.95H561c28.05,0,51-22.95,51-51v-357C612,99.45,589.05,76.5,561,76.5z M484.5,397.8l-35.7,35.7L357,341.7l-91.8,91.8l-35.7-35.7l91.8-91.8l-91.8-91.8l35.7-35.7l91.8,91.8l91.8-91.8l35.7,35.7L392.7,306L484.5,397.8z"/></svg>')
    50% 50% / 28px auto no-repeat;
}
.calculator__backspace:hover {
  opacity: 0.8;
}
.calculator__backspace:active {
  opacity: 1;
}
.calculator__result {
  width: calc(75% - var(--global-padding));
  text-align: right;
  font-weight: 300;
  height: 20px;
  padding: 0 var(--global-padding);
}
.calculator__controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--global-padding) var(--global-padding) 0 var(--global-padding);
}
.keyboard__item {
  border-radius: 5px;
  width: calc(25% - var(--global-padding));
  height: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--global-padding);
  cursor: pointer;
  transition: color 0.2s ease,
    background-color 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
    transform 0.2s linear;
}
.keyboard__item:hover {
  background-color: var(--secondary-color);
}
.keyboard__item:active {
  transform: scale(0.85);
}
