.card_button {
  background: #ede6e3;
  padding-top: 20px;
}

.card_1 {
  background: white;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background: white;
  color: black;
  text-align: center;
}
